/* Base Application Styles */
body {
  #color: #fff;
  #background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  /*background: #666;*/
}

.friend{
  float: left;
  margin: 10px;
  text-align: center;
}
.avatar{
  width: 100px;
  height: 100px;
}
.row{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

}
.deselected{
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.suggestions{
  z-index: 1000;
  position: absolute;
  top: 100px;
  background-color: white;



}
.suggestion-name{
  margin-left:45px;
  margin-top: -20px;
}
.suggestion img{
  width:40px;
  height: 40px;

}
