/* Base Application Styles */
/*body {
  #color: #ddd;
  #background: #222;
}*/
body {
  background-color: #ddd;
}

.suggestions{
  z-index: 1000;
  position: absolute;
  top: 140px;
  width: auto;
  background-color: white;

}
.suggestion-name{
  margin-left:45px;
  margin-top: -20px;
}
.suggestion img{
  width:40px;
  height: 40px;
}

.deselected{
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
.friend-names{
  padding-left: 10px;
  padding-top: 10px;
}

.friend{
  display:inline-block;
  /*float: left;*/
  /*padding: 10px;
  padding: 10px;*/
  margin:0 10px;
  margin: 10px;
  width: 120px;
  height: 120px;
  background-color: white;
}

.avatar{
  padding-top: 10px;
  padding-left: 10px;
  width: 100px;
  height: 100px;
}
